[Unit]
Description=astrokit init script : load fr kmap + others actions
After=getty.target

[Service]
Type=simple
ExecStart=/usr/local/scr/script_astrokit_init.sh
User=root

[Install]
WantedBy=multi-user.target
